$primary-normal: #06121e;
$primary-dark: #040f1a;
$primary-light: #0c2132;

$secundary-normal: #090d11;
$secundary-dark: #06090c;
$secundary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #FFF;
$white-dark: #edeaef;
$white-ligth: #fefbff;

$red-normal: #cc2649;
$red-dark: #992c4b;
$red-ligth: #66324c;