.container{
    max-width: 1440px;
    margin: 0 auto;

}





.slides {
gap: 8px;
flex-direction: column;
justify-content: center;
align-items: center;
color: $white-normal;


display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.btn-slides {
display: flex;
flex-direction: column;
gap: 28px;
}


.dot-box {
text-align: center;
}


.dot {
display: inline-block;
width: 15px;
height: 15px;
margin: 0 2px;
background-color: #c1c1c1;
border-radius: 50%;
cursor: pointer;
transition: background-color .6s ease;
}

.active, .dot:hover {
background-color: #D41D1D;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}


@keyframes fade {
from {opacity: .2}
to {opacity: 1}

}





.bg-home{
    position: relative;
}

.bg-home::before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(6, 18, 30, 0.1), #06121e;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  50% 0px;
    opacity: 0.6;
}

.hero{
    color: $white-normal;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1{
        text-align: center;
        line-height: 100%;
        max-width: 940px;
        font-size: 48px;
    }

    p{
        text-align: center;
        margin: 14px 0;
    }
}

.btn-contact{
    padding: 14px 28px;
    color: $white-normal;
    background-color: $red-normal;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.btn-contact:hover{
    animation: scaleButton 0.8s infinite alternate;
}

@keyframes scaleBututon{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

@media screen and (max-width: 768px){
    .hero{
        min-height: 60vh;
    }
    h1{
        font-size: 34px;
        padding: 0 14px;
        width: 100%;
    }
    p{
        font-size: 14px;
    };
}

@media screen and (max-width: 480px){
    .hero{
        font-size: 24px;
    }
}

.about{
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    pad: 34px 14px 64px 14px;
    img{
        max-width: 570px;
    }
}

.about-content div{
    flex:1;
}

.about-description{
    h2{
        font-size: 28px;
        margin-bottom: 24px;
    }
    p{
        margin-bottom: 14px;
        line-height: 150%;
    }
}

@media screen and (max-width:768px) {
    .about-content{
        flex-direction: column;
    }
}

.services{
    background-color: $white-normal;
    color: $black-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.services-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;
}

.services-content p{

    margin-bottom: 14px;
    text-align: center;
    justify-content: center;
    text-align: center;
    

}

.haircuts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding: 0 44px 34px 44px;
}

.haircut{
    flex: 1;
    display: flex;
    flex-direction: column;
    color: $white-normal;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0,0,0, 0.5);

    overflow: hidden;

    img{
        width: 100%;
        max-width: 354px;
        transition: transform 0.8s;
    }
}

.haircut img{
    transform: scale(1.1);
    z-index: 2;
}

.haircut-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: $white-normal;
    z-index: 5;
    color: $black-normal;
}

.haircut-info button{
    color: $white-normal;
    background-color: $red-normal;
    padding: 4px 8px;
    border-radius: 4px;
    border: 0;
}

@media screen and (max-width: 768px){
    .haircuts{
        flex-direction: column;
    }
    .haircut{
        img{
            max-width: 740px;
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 14px;
    color: $white-normal;
    background-color: rgba(6,18,30, 0.1),
}

.footer-icons{
    display: flex;
    gap: 26px;
    color: $white-normal;
    
}

.btn-wpp{
    position: fixed;
    bottom: 14px;
    right: 20px;
    z-index: 10;
    img{
        max-width: 74px;
        transition: transform 0.5;
    }
    img:hover{
        transform: scale(1.1);
    }
}

.btn-wpp .tooltop-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    background-color: $black-normal;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.4;
}

.btn-wpp:hover .tooltop-text{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px){
    .btn-wpp{
        img{
            max-width: 54px;
        }
    }
}